{% extends "DataSort/layout.html" %}
{% load staticfiles %}
{%block content%}
<html>
<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'dist/js/vendor/jquery.min.js' %}"></script>
  <style>
  button {
        top: 10px;
        left: 10px;
        z-index: 1;
    }

      .graph{
        align: center;
      }

  </style>
</head>

<body>
    <br/>
    <div class="row">

    <form id="plotform">
        {% csrf_token %}
         <div class="col-xs-4">
          <div class="form-group">
            <input type="text" id="arr" name="iparray" placeholder="Enter comma separted values" class="form-control" />
          </div>
        </div>

        <div class="col-xs-2">
        <input type="submit" value="Plot" id="post_btn" class="btn btn-block btn-lg btn-info">
          <!--<a href="#fakelink" class="btn btn-block btn-lg btn-info">Sort</a>-->
        </div>
    </form>
        <div id="output"></div>
       <div class="col-xs-2">
        <a class="btn btn-block btn-lg btn-info" onclick="javascript:animate_frames({{frames}});">Sort!</a>
          <!--<a href="#fakelink" class="btn btn-block btn-lg btn-info">Sort</a>-->
        </div>

        <div class="col-xs-4">
            <button data-toggle="dropdown" class="btn btn-block btn-primary dropdown-toggle" type="button">Sort Preset Data Points <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#">100 Points</a></li>
              <li><a href="#">500 Points</a></li>
            </ul>
        </div>

    </div>

  <div id="graph" class="graph" style=""></div>
  <!--<button onclick="javascript:animate_frames({{frames}});">Sort!</button>-->
  <script>

        $('#post_btn').on('click',function(e){
            e.preventDefault();
        	$.ajax({
            type: "POST",
            url: "/plot/",
            data :{
                arr: $('#arr').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(json){
                alert("Success");
            }
        });
        });



    Plotly.plot('graph', [{
    x: {{x}},
    y: {{y}},
    mode: 'lines+markers',
    line: {simplify: false},
    }],
    {
        xaxis: {range: [0, {{x}}]},
        yaxis: {range: [{{y.min}}, {{y.max}}]}
    }
    );

    function animate_frames(frames){
        for (var i = 0; i < frames.length; i++) {
            var y = frames[i];
            randomize(y);
        }
    }

    function randomize(y_new) {
        Plotly.animate('graph', {
          data: [{y: y_new}],
          traces: [0],
          layout: {}
        }, {
          transition: {
            duration: 2000,
            easing: 'linear'
          }
        })
    }
  </script>
</body>
{%endblock%}
</html>
